* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: #F1F8FF;
    /* display: grid;
    justify-items: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    min-width: 300px;
    width: 50%;
    text-align: left;
    background: linear-gradient(to right,#1E3A8A,#FF6B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;
    background-color: #1E3A8A;
    padding: 1.4rem;
    border-radius: 0.5rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
}

.input-label{
    color: #F1F8FF;
}

.form-control,
.form-select{
    height: 1.4rem;
    border: none;
    padding: 0.2rem;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 #5c5c5c;
}

.form-control:focus,
.form-select:focus{
    outline: none;
}

.question{
    color: #F1F8FF;
    margin: 0.3rem 0;
}

.responses{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.btn{
    height: 1.4rem;
    border: none;
    padding: 0.2rem;
    border-radius: 3px;
    color: #F1F8FF;
    background-color: #FF6B35;
}

@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.99);
    }

    100% {
        transform: scale(1);
    }
}

.btn:active{
    animation: click 0.7s;
}

.ticket {
    position: relative;
    background: linear-gradient(135deg, #f9f9f9, #e1e6eb);
    min-height: 220px;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 2px dashed #c4c4c4; /* effet ticket */
    overflow: hidden;
}

.ticket::before, 
.ticket::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 50%;
    z-index: 2;
}

.ticket::before {
    left: -13px;
}

.ticket::after {
    right: -13px;
}

.info {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.nom,
.prenom {
    font-size: 1.6rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.qrCode {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
